
.creator-profile{
    display:flex;
    justify-content: center;
}


.arrow-btn:hover{
    background-color: rgb(7,105,144) !important;
}

.detail-carousel{
    width: 100%;
    height: 300px;
    margin: 0 auto;
}

.detail-carousel-img{
    width: 100%;
    height: 300px;
    margin: 0 auto;
    /* overflow: hidden; */
}

.detail-carousel .carousel-indicators {
    margin-bottom: -15px;
    /* background-color: rgba(148, 200, 224, 0.493); */
    }

    
.detail-carousel .carousel-control-next-icon{

background-color: rgb(138, 136, 136) !important;
border-radius: 50%;
}

.detail-carousel .carousel-control-prev-icon{

background-color: rgb(138, 136, 136) !important;
border-radius: 50%;
}

.image-box::after{
    border: 2px solid red;
}

.detail-title{
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    
}

.product-details{
text-align: justify;
padding: 10px;
font-size: 20px !important;
}