
.creator-profile{
    display:flex;
    justify-content: center;
}
.detail-title{
    font-size: 14px;
    font-weight: 700;
    text-align: left;
}

.arrow-btn:hover{
    background-color: rgb(7,105,144) !important;
}

.detail-carousel{
    width: 100%;
    height: 300px;
    margin: 0 auto;
}

.detail-carousel-img{
    width: 100%;
    height: 300px;
    margin: 0 auto;
    /* overflow: hidden; */
}

.detail-carousel .carousel-indicators{
    background-color: rgba(148, 200, 224, 0);
    }
    
.detail-carousel .carousel-control-next-icon{
margin-right: -50px ;
background-color: rgba(182, 182, 182, 0.39) !important;
border-radius: 50%;

}
.detail-carousel .carousel-control-prev-icon{
margin-left: -50px ;
background-color: rgba(182, 182, 182, 0.39) !important;
border-radius: 50%;
}

.image-box::after{
    border: 2px solid red;
}

.product-details{
padding: 10px;
}