.myLayout-box{
    margin: 90px auto 10px;
    padding-bottom:20px;
    min-height: 60vh; 
    border-bottom: 2px solid rgb(218, 217, 217)  
}

.content-center{
    margin:0 auto !important;
    display:flex;
    justify-content:space-between !important;
    flex-wrap: wrap;
}