.category-card{
    min-height: 350px;
	overflow: hidden;
    position: relative;
    background-color:rgb(18,36,56) !important;
}

.category-card:hover {
    background-color: rgb(18,36,56) !important;
    box-shadow: 0px 0px 5px 5px rgba(12, 136, 185, 0.29) !important;
    color: white !important;
}

.category-card:hover + .theme-btn {
    color: rgb(12, 136, 185) !important;
    background-color: white !important;
}



@media only screen and (max-width: 360px){
    .mission-box p{
        font-size: 16px;
       
    }
    .MuiTypography-root.MuiTypography-h6.css-1lv9nvb-MuiTypography-root{
        font-size: 16px;
    }

    .MuiTypography-root.MuiTypography-body1.css-1pnmrwp-MuiTypography-root{
        font-size: 12px;
    }

    .category-card{
        display: flex;
        width: 95%; 
        margin: 10px auto;
        }
}
