.direction-btn{
    background-color:rgb(4,52,71) ;
    color:white;
    border:1px solid rgb(7, 102, 139);
}
.direction-btn:hover{
    background-color:rgb(7, 102, 139) ;
}

.text-for-the{
    color:rgb(223, 223, 223);
    padding: 10px 0 ;
    border-bottom: 2px solid rgb(223, 223, 223);
    margin: 10px;
}
.highligh-role{
    color:rgb(97, 192, 230) ;
    font-size: 40px;
    margin: 0 0 0 150px;
}