.role-box{
    background-color :  rgb(18,60,76) !important;
}
.direction-btn{
    background-color:rgb(3, 84, 116)  !important;
    color:white;
    border:1px solid rgb(7, 102, 139) !important;
    margin:10px auto;
}
.direction-btn:hover{
    background-color:rgb(4,52,71)  !important;
}

.text-for-the{
    color:rgb(223, 223, 223);
    font-size: 20px;
    border-bottom: 1px solid rgb(97, 192, 230)   ;
}

.highlight-role{
    color:rgb(97, 192, 230) ;
    font-size: 40px;
    font-weight: 900;
}

.role-title-card{
    display:flex;
    justify-content: center;
    align-items: center;
    height:500px;
    /* transform: rotate(-40deg); */
    padding:10px;
}

.role-description{
 line-height: 1.5;
 max-width: 500px;
 padding: 0px 10px;
 text-align:justify;
}
