

.small-icons{
    font-size: 35px;
    font-weight: 900;
    position:absolute;
    color: white;
    width:50px;
    height:50px;
    padding: 0px 0px 0px 0px;
    border-radius: 50% ;
    top: -25px;
    left:46%;
    right:46%
}


.carousel-indicators{
margin-bottom: -50px !important;
}

.carousel-control-next-icon{
margin-right: -200px ;
}
.carousel-control-prev-icon{
margin-left: -200px ;
}


@media only screen and (max-width: 360px){
    .carousel-control-next-icon{
        margin-right: -50px ;
        }
        .carousel-control-prev-icon{
        margin-left: -50px ;
        }
}


@media only screen and (max-width: 700px){
    .carousel-control-next-icon{
        margin-right: -100px ;
        }
        .carousel-control-prev-icon{
        margin-left: -100px ;
        }
}
