.my-jumbotron{
    background-image:url(../assets/innovation.jpeg);
    background-repeat: no-repeat;
    background-size: cover; 
    height:600px;
    background-position:center;
    display:flex;
    justify-content: center;
    align-items: center;
}