.mission-box{
    background-color: rgba(219, 219, 219, 0.589);
    padding: 20px 10px;
    color:rgb(5,106,145);
    width: 100%;
}
.mission-box p{
    text-align: center;
    margin: 0 auto;
    width: 350px;
    padding: 20px 10px;
    font-size: 16px;
    font-weight: 500;
}

.mission-box-hr{
    background-color: rgba(5, 105, 145, 0);
    max-width: 400px;
}