
.project-container{
scroll-snap-type: mandatory ;
scrollbar-darkshadow-color:aqua;
scrollbar-color: blue !important;
}
.our-projects{
    margin: auto;
    padding:50px ;
    background-color:rgb(13,33,50);
}

.our-project-box{
    margin:0 auto !important;
    }
