

.our-projects{

    margin:100px auto;
}

.project-container{
    display: flex;
    margin:20px auto;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap:nowrap;
    
}

.our-project-box{
    margin:0 auto !important;
    background-color: rgb(56, 55, 55);
    }
