.box-outline{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.my-icons{
    background-color: rgba(9, 117, 160, 0.5);
    font-size: 40px !important;
    margin: 5px auto;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
   
}


.carousel-text{
background-color: rgb(99,173,203,0.8);
border-radius:50px;
padding:5px 10px;
}

.carousel-text h3{
  
    margin-top:10px
}





@media only screen and (max-width: 360px){
    .carousel-control-next-icon{
        margin-right: -50px ;
        }

        .carousel-control-prev-icon{
        margin-left: -50px ;
        }

        .carousel-text{
            border-radius:20px;
            padding:5px 5px;
            height: 180px;
        }

        .carousel-text h3{
            font-size: 12px;
        }

        .carousel-text p{
            font-size: 10px;
        }


        .my-icons{
            font-size: 25px !important;
           bottom:0;
           top:90%
        }

}


@media only screen and (max-width: 700px){
    .carousel-control-next-icon{
        margin-right: -100px ;
        }

        .carousel-control-prev-icon{
        margin-left: -100px ;
        }

        .carousel-text h3{
            font-size: 12px;
        }

        .carousel-text p{
            font-size: 10px;
        }


        .my-icons{
            font-size: 25px !important;
           bottom:0;
           top:90%
        }

}
