.profile-box{
    width:500px;
    height: 100%;
    border : 1px solid grey;
    margin: 100px auto 0px;
    display: flex;
    padding: 10px;
}

.profile-image-box{
    width:300px;
    height: auto;
}