.account-box{
   
    display: flex;
    padding: 10px;
}

.account-image-box{
    width:300px;
    height: auto;
    margin-top:50px;
    display:flex;
    flex-direction: column;
}
.account-image-box img{
    width:150px;
    height: auto;
   
}
.account-image-box button{
    width:100px !important;
}
