
.text-icon{
    cursor: pointer;
    display: flex;
    align-items: baseline;
    margin-left: auto;
  }
  
  
  .text-icon:pointer{
      
      background-color: rgba(128, 128, 128, 0.493);
    }

    .buttons{
      display: flex;
      justify-content: center;
      margin: 50px auto;
    }

  
  
  

  .MuiInputBase-input.MuiOutlinedInput-input.MuiInputBase-inputMarginDense.MuiOutlinedInput-inputMarginDense{
    color:white !important;
    background-color: rgb(6, 131, 180);
  }

  /* for category */
  .MuiSelect-select.MuiSelect-outlined.MuiOutlinedInput-input.MuiInputBase-input.MuiInputBase-inputSizeSmall.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    border-color:white !important;
    background-color: rgb(6, 131, 180);

  }
 
 .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-multiline.MuiOutlinedInput-multiline.MuiInputBase-marginDense.MuiOutlinedInput-marginDense{
   border-color:white !important;
    background-color: rgb(6, 131, 180);
  }
 
  
 