
.arrow-btn{
    display: none;
    padding:4px 5px 4px 5px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.profile-mobile{
    position: absolute;
    background-color:rgb(4,52,71) !important;
    display: none;
    margin-top: 0;
}

@media only screen and (max-width: 767px){

    .profile-mobile{
        display: block;
        position: absolute;
        background-color:rgb(4,52,71) !important;
        margin-top: 0;
    }

    .profile-sidebar{
        display:none !important;
    }
    .arrow-btn{
        display: block;
    }
}


