

.profile-btn-grand-box {
  align-self:stretch; 
  border-right: 1px solid lightcyan !important;
  background-color: rgb(4,52,71);
}

.profile-btn-box{
        margin: auto;
        height:100%;
        display:flex;
        flex-direction:column;
        text-align:left;
        position:fixed;
        z-index: 105;
}

.profile-btn{
    color: white !important;
    font-size: 15px !important;
    width: 100%;
    cursor: pointer;
    }
    


/* 
@media only screen and (max-width: 360px){
    .extra-header{
        padding: 5px;
        top: 50px;
    }
    .extra-header button{
        
        font-size: 10px !important;
        }
}

@media only screen and (max-width: 700px){
    .extra-header{
        padding: 3px;
        top: 50px;
    }
    .extra-header button{
        
        font-size: 10px !important;
        }
} */


