.myNavbar{
background-color:"rgba(196, 194, 194)" !important;
color:rgb(30, 61, 60)
}

.brand{
    font-size: 100px;
    font-weight: 600;
    cursor: pointer;
    margin: none;
}


.userImgcontainer{
    margin: none;
    width : 30px;
    border-radius : 50%
}

.my-margin-xasix{
margin: auto 3px !important
}

.white-bottom-border{
   font-weight:900 !important;
   border-bottom:1px solid white !important;
}
