.footer-box{

bottom: 0;
margin : 20px auto 0px;
padding : 0px 0px 0px 30px;
border-top: 2px solid rgb(190, 188, 188)
}

.footerCol-title{
    text-align: left;
    font-weight: bold;
}
.footerCol{
    text-align: left;
}