.footer-box{
bottom: 0;
margin : 100px 0px 0px 0px;
text-align: left;
width: 100%;
display:flex;
justify-content:center;
border-top: 1px solid white
}

.footerCol-title{
    text-align: left;
    font-weight: bold;
}

.footer-item:hover{
cursor: pointer;
color:lightblue
}
