.product-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search-icon{
    position: absolute;
    z-index: 1 ;
    color: black;
    right:3px;
    top:2px;
    background-color: lavender;
    padding:11px;
    border-radius: 50px;
}

.search-icon:hover{
    background-color: rgb(204, 204, 223);
}

#search{
        width: 100%;
        height: 50px;
        border-radius: 50px;
        padding: 0 10px;
        margin: 10px auto;
}

#search:focus{
    background-color: lavender
}